.audio_card {
    width: 100%;
    padding: 20px 30px 40px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    height: fit-content;
    background-color: rgba(var(--white-color));
    box-shadow: var(--box-shadow);
}

.audio_card_title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.audio_card_description {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
    padding-bottom: 30px;
}

.audio_card_sponsored {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
    padding-bottom: 30px;
}

.audio_card_player {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--background-color));
    border-radius: 2px;
}

audio.audio_card_player::-webkit-media-controls-panel {
    background-color: rgba(var(--background-color));
    border: 0;
}

audio.audio_card_player::-webkit-media-controls-current-time-display,
audio.audio_card_player::-webkit-media-controls-time-remaining-display {
    color: rgba(var(--white-color));
}
