.episode_container {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 30px;
}

.episode_list_counter {
    width: 100%;
    box-shadow: var(--box-shadow);
    padding: 20px;
    font-weight: 800;
    font-size: 20px;
    box-sizing: border-box;
    user-select: none;
}

.episode_list  {
    width: 100%;
}

.episode_list_table {
    width: 100%;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-spacing: 0;
    border-collapse: collapse;
}

.episode_list_table_row {
    text-decoration: none;
    color: rgba(var(--blue-dodgerblue));
    font-weight: 400;
    text-transform: capitalize;
}

.episode_list_table thead {
    font-weight: 800;
    font-size: 16px;
    text-align: left;
    user-select: none;
}

.episode_list_table th,
.episode_list_table td {
    padding: 15px 20px;
}

.episode_list_table tbody tr:nth-child(odd) {
    background-color: rgba(var(--light-grey-color));
}

.episode_list_table tbody tr:hover {
    background-color: rgba(var(--lighter-grey-color));
    cursor: pointer;
}

.episode_list_table tbody tr td {
    font-size: 14px;
}

.episode_list_table_header_duration,
.episode_list_table_row_duration {
    text-align: center;
}
