.filter {
    display: grid;
}

.filter_container {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: right;
    justify-self: flex-end;
}

.filter_count {
    color: #fff;
    background-color: rgba(83, 124, 180);
    padding: 5px;
    border-radius: 10px;
}

.filter_input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    min-width: 220px;
    outline: none;
}

.podcast_list {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

@media (max-width: 835px) {
    .podcast_list {
        justify-items: center;
    }
}
