.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 4rem;
}

.link {
    text-decoration: none;
}

.sidebar {
    width: 250px;
    height: fit-content;
    background: rgba(var(--white-color));
    box-shadow: var(--box-shadow);
    display: grid;
    padding: 20px;
    justify-items: center;
    grid-template-rows: 200px auto auto;
}

.sidebar_img {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
}

.sidebar_title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 1px solid rgba(var(--border-color));
    border-bottom: 1px solid rgba(var(--border-color));
    padding: 20px 0;
    margin: 30px 0;
}

.sidebar_podcast {
    color: rgba(var(--black-color));
    font-weight: 800;
    font-size: 14px;
    display: inline-block;
}

.sidebar_author {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: rgba(var(--black-color));
    font-style: italic;
}

.sidebar_description {
    font-size: 14px;
    color: rgba(var(--black-color));
}

.sidebar_description_container_title {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: rgba(var(--black-color));
    padding-bottom: 10px;
}
.sidebar_description_container_text {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: rgba(var(--black-color));
    font-style: italic;
}
